#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Applies correct bindkeys for input events.
zmodule input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
# Sets up the Zsh shell integration for fzf.
zmodule fzf

#
# Theme
#

zmodule romkatv/powerlevel10k --use degit

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
